* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ffffff 0%, #a8b4ef 100%);
    color: #3a3a3a;
    display: flex;
    min-height: 100vh;

  }

.container{
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card1{
    height:300px;
    width:360px;
    background: url(../static/images/white.png);
    text-align: center;
    padding: 115px 0;
    font-size: 25px;
    border: 8px solid #647fe1;


}

.card1 a{
  text-decoration: none;
  color:  #1333a9;
}

.card2{
    height:300px;
    width:360px;
    background: url(../static/images/white.png);
    text-align: center;
    padding: 120px 0;
    font-size: 25px;
    border: 8px solid #647fe1;

}

.card2 a{
  text-decoration: none;
  color:  #1333a9;
}

.card3{
    height:300px;
    width:360px;
    background: url(../static/images/white.png);
    text-align: center;
    padding: 120px 0;
    font-size: 25px;
    border: 8px solid #647fe1;

}

.card3 a{
  text-decoration: none;
  color:  #1333a9;
}

.card4{
    height:330px;
    width:360px;
    background: url(../static/images/white.png);
    text-align: center;
    padding: 135px 0;
    font-size: 25px;
    border: 8px solid #647fe1;
}

.card4 a{
  text-decoration: none;
  color:  #1333a9;
}

.card5{
    height:330px;
    width:360px;
    background: url(../static/images/white.png);
    text-align: center;
    padding: 135px 0;
    font-size: 25px;
    border: 8px solid #647fe1;
}

.card5 a{
  text-decoration: none;
  color:  #1333a9;
}

.card6{
    height:330px;
    width:360px;
    background: url(../static/images/white.png);
    text-align: center;
    padding: 122px 0;
    font-size: 25px;
    border: 8px solid #647fe1;
}

.card6 a{
  text-decoration: none;
  color:  #1333a9;
}

/* SIDEBAR */
.sidebar {
    width: 80px;
    background-color: #647fe1;
    color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: width 0.3s ease;
    overflow: hidden;
  }

  .toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-start;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.2s ease;
    opacity: 0;
    font-size:0;
  }
  .sidebar.expanded{
    width: 200px
  }

  .sidebar.expanded a{
    opacity: 1;
    font-size: 1rem;
  }
  .sidebar a:hover {
    background-color: #506bd4;
    padding: 8px;
    border-radius: 8px;
    transition: 0.2s;
  }