* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sa;
  color: #647fe1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
  background: linear-gradient(to bottom, #f6f2ff 0%, #909fec 100%);
}

/* NAVBAR */
nav {

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo + Site Title */
.nav-left {
  display: flex;
  
  align-items: center;
  gap: 10px;
}
.buttons {
    text-align: center; /* Center the buttons horizontally */
  
}
.cta-button {
  display: inline-block;
  margin: 0 5px; /* Add spacing between buttons */
  padding: 10px 15px;
  background-color: transparent;
  color: #647fe1;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Fredoka', sa;
  font-size: 22px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.cta-button:hover {
  background-color: #d7dbff;
}


.logo {
  width: 40px;
  height: auto;
}
.site-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #647fe1;
  font-family: 'Fredoka', sa;
}

/* MAIN CONTENT */
.main-content {
  display: flex;
  flex-direction: column;     
  min-height: calc(100vh - 60px); /* Adjust height to fit the navbar */   
  justify-content: space-between;
  align-items: center;
  padding: 60px 5%;
  gap: 40px;
  
  flex-wrap: nowrap;        
  min-width: 0;
}

.hero {
  width: 1200px;
  height: 800px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 150px;
  background-image: url("../static/images/latech.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  color: white;
  opacity: 0.9;
}
.hero-left{
  align-items: row;
  margin-top: -60px;
}
.hero-left h1{
  font-weight: bold;
  margin-left: 115px;
  font-size: 2rem;
  color: #5567cb;
  line-height: 1.2;
}
.hero-left p{
  font-size: 20px;
  margin-left: 30px;
  line-height: 1.5;
}
.hero-left a{
  margin-left: 100px;
}

.hero-right img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

.about {
  width: 1000px;
  margin-left: 30px;
  color: #3a3a3a;
  font-family: 'Fredoka', sa;
}
.about h2 {
  font-size: 1.7rem;
  margin-left: 310px;
  color: #5567cb;
  margin-top: -30px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.about p {
  justify-content: center;
  width: 1200px;     
  line-height: 1.8;   
  font-size: 1rem;
  margin-left: -100px;
}


footer {
  text-align: center;
  padding: 10px;
  color: #555151;
  font-size: 0.9rem;
  margin-top: 60px;
}