<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PawPoint Homepage</title>
  <link rel="stylesheet" href="../static/homepage.css" />
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
</head>
<body>

  <nav>
    <div class="nav-content">
      <div class="nav-left">
        <img src="../static/images/PawPoint.png" alt="PawPoint Logo" class="logo" />
        <span class="site-title">PawPoint</span>
        
      </div>
      <div class = "buttons">
      <a href="{{url_for('login')}}" class="cta-button">Log in</a>
      <a href="{{url_for('register')}}" class="cta-button">Sign up</a>
      </div>
    </div>

    
    <div class="main-content">
      <div class="hero-left">
        <h1>Welcome to Paw Point!</h1>
        <br>
        <p>A student hub for resources, connection, and staying organized.</p>
        
      </div>
      <section class="hero">
        
      </section>

    <section class="about">
      <br>
      <h2><span class="paw">🐾</span> What is PawPoint?</h2>
      <p>PawPoint is a student-driven platform created to help new Louisiana Tech students transition smoothly into college life.
        It provides curated resources, helpful guides, group chats, and organizational tools to stay on top of deadlines and stay connected.
        Our goal with Paw Point is to lessen the stress for new students entering into a college environment
        by centralizing all of the most important information we  wished we had easier access to as incoming freshmen.</p>
    </section>

    <footer>
      <p>🐾 Built by Lauren Phillips, Ashley Cruz, and Jesse Webb • 2025</p>
    </footer>

</body>
</html>