<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel = "stylesheet" href = "../static/profile/other_profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>{{ user.username }}'s Profile</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<body>
  <div class="sidebar">
    <button id="toggleSidebar" class="toggle-btn">☰</button>
    <a href = "{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('chats')}}">Chats</a>
    <a href="{{url_for('resources')}}">Resources</a>
    <a href="{{url_for('calendar')}}">Calendar</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="{{ url_for('connect')}}">Connect</a>
    <a href="{{url_for('logout')}}">Log Out</a>

  </div>
    <script>
        const toggleBtn = document.getElementById("toggleSidebar");
        const sidebar = document.querySelector(".sidebar");
            
        toggleBtn.addEventListener("click", () => {
          sidebar.classList.toggle("expanded");
        });

    </script>

    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            {% if user.profile_picture %}
              <img src="{{ url_for('static', filename='/profile_pictures/' + user.profile_picture) }}" alt="Profile Picture">
            {% else %}
              <img src="{{ url_for('static', filename='/profile_pictures/def.jpg') }}" alt="Default Profile Picture">
            {% endif %}    
          <span></span>
          </div>
          <h2>{{user.nickname}}</h2>
          <p>{{user.major}}Computer Science</p>
          <p>{{user.email}}</p>

          <div class="content">
            <p>
                <br>
              {{user.bio}}
              
            </p>

          </div>
        </div>
        <div class="right__col">
          <nav>
            <ul>
                <div class = "mytabs">
                    <input type = "radio" id = "tabPosts" name="mytabs" checked="checked">
                    <label for="tabPosts">Posts</label>
                    <div class = 'tab'>
                        <div class="photos">
                            <img src="../static/images/kit.jpg" alt="Photo" />
                            <img src="../static/images/cat.jpg" alt="Photo" />
                            <img src="../static/images/duck.jpg" alt="Photo" />
                          </div>
                    </div>

                    <input type = "radio" id = "tabFriends" name="mytabs">
                    <label for="tabFriends">Friends</label>
                    <div class = 'tab'>
                      <h4>{{current_user.friends.username}} Friends</h4>

                      {% if user.friends %}

                        <ul>
                          {% for friend in user.friends %}
                            {% if friend.username != user.username %}
                          <li><a href="{{ url_for('other_profile', username=friend.username) }}">{{ friend.username }}</a>
                            {{ friend.username }}
                            {% endif %}
                          {% endfor %}
                        </ul>
                      {% else %}
                        <p><em>No current friends.</em></p>
                      {% endif %}
                    </div>

                    <input type = "radio" id = "tabAboutMe" name="mytabs">
                    <label for="tabAboutMe">About Me</label>
                    <div class = 'tab'>
                        Major : Computer Science
                        <br>
                        Age : 19
                        <br>
                        Interests: Music, reading, gaming, outdoors
                    </div>
                </div>
            </ul>
          </nav>
          
          
        </div>
      </div>
    </div>
</body>
</html>