<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/profile/settings.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="sidebar">
        <button id="toggleSidebar" class="toggle-btn">☰</button>
        <a href = "{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('chats')}}">Chats</a>
        <a href="{{url_for('resources')}}">Resources</a>
        <a href="{{url_for('calendar')}}">Calendar</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <a href="{{ url_for('connect')}}">Connect</a>
        <a href="{{url_for('logout')}}">Log Out</a>
    
      </div>
    <div class = "wrapper">        
        <form method = "POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <header class="main-head">Settings</header>
            <div class="content">            
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-container">
                        {% for message in messages %}
                            <div class="flash-message">{{ message }}</div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}<br>
                <h2>Username</h2>
                {{form.username(placeholder = "Username")}}
                <i class='bx bxs-user'></i>
                <br>
                <h2>Email</h2>
                {{form.email(placeholder="Email")}}
                <i class='bx bxs-envelope'></i>
                <h2>Password</h2>
                {{form.password(placeholder="Password")}}
                <i class='bx bxs-lock-alt' ></i>
                <br>

                <h2>Nickname</h2>
                {{form.nickname(placeholder="Name")}}
                
                <br>
                <h2>Bio</h2>
                    {{form.bio(style='height: 100px; max-height:200px; min-height:100px;', placeholder=" About Me")}}
                <br>
                <!-- <h2>Profile Pic</h2>
                {{form.profile_pic}}
                {{current_user.profile_pic}} -->
                
                <div class = "btn">
                    {{form.submit(class="btn")}}</div>
            </div>
        </div>
    </form>
    </div>
    
    <script>
        const toggleBtn = document.getElementById("toggleSidebar");
        const sidebar = document.querySelector(".sidebar");
            
        toggleBtn.addEventListener("click", () => {
          sidebar.classList.toggle("expanded");
        });
    </script>
    
</body>
</html> 
