<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Spots in Ruston</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link rel = "stylesheet" href = "../static/resources/general.css">
</head>
<body>
  <div class="sidebar">
    <button id="toggleSidebar" class="toggle-btn">☰</button>
    <a href = "{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('chats')}}">Chats</a>
    <a href="{{url_for('resources')}}">Resources</a>
    <a href="{{url_for('calendar')}}">Calendar</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="{{ url_for('connect')}}">Connect</a>
    <a href="{{url_for('logout')}}">Log Out</a>

  </div>
  <div class="wrapper">
    <header class="main-head">Best Study Spots in Ruston</header>
    <article class="content">
        <p>As a student, we may find ourselves in need of a space to sit down and focus on getting our work done without distractions. Sometimes,
          the campus can become too loud with the bustling of students, and constantly going to the library may become boring and repetitive. 
          Here are some of the best study spots in Ruston that are perfect for students looking for a peaceful, aesthetic environment away from campus!</p>
        </p>
        <h2>⋆.˚☕︎ The Depot ⋆.˚☕︎</h2>
        <ul>
            Located not even a mile away from the IESB, the Depot is a coffee house that offers services including breakfast, lunch, and dinner
              foods, as well as a variety of drinks. The Depot is a great place to study as it has a cozy, rustic atmosphere. The <b>cost</b>
              is usually around $5-$10 for a considerably-sized drink. They are closed on Sundays, but from Mon-Thurs opened 7am-7pm, Fri 7am-5pm, and Sat 8am-3pm. 
              However, from experience it can tend to get a little hot inside, and when busy the small space traps noise.</li>
          <br><br>
          📍 211 W Railroad Ave, Ruston, LA 71270  
        </ul>

        <h2>🖼️ Gallery: </h2>
    <div class="image-row">
        <img src="../static/images/depot.jpg" alt="Legacy Park Apartments" class="apt-img", style="height: 540px;">
        <img src="../static/images/depots.jpg" alt="Legacy Park Apartments" class="apt-img", style="height: 540px;">

    </div>
    </article>
    <article class="content">
        <h2>⋆.˚☕︎ Rolling Hills Ministries Bookstore(and coffee) ⋆.˚☕︎</h2>
        <ul>
            While a little further away, Rolling Hills is an overwhlemingly relaxing place to study. When you walk in, you are greeted with a warm, cozy atmosphere filled with books. The entire front of the store is dedicated to 
            affordable books, and the back has a coffee shop that also serves pastries and breakfast foods. 
            The <b>cost</b> is usually around $5-$10 for a drink. In the very back you will find
            a beautiful seating area with couches and tables, surrounded by fairy lights and endless books. For the most part the atmosphere tends to stay
            rather calm and quiet in the back, as many people come in to look at books which is a good distance away from entrance of the store.
            <br><br>
            📍1103 Farmerville Hwy, Ruston, LA 71270 
        </ul>

        <h2>🖼️ Gallery: </h2>
    <div class="image-row">
        <img src="../static/images/study.jpg" alt="Legacy Park Apartments" class="apt-img", style="height: 540px;">
        <img src="../static/images/coffee.jpg" alt="Legacy Park Apartments" class="apt-img", style="height: 540px;">

    </div>
    </article>  
    <article class="content">
      <h2>⋆.˚☕︎ PJ's Coffee ⋆.˚☕︎</h2>
      <ul>
          A more common coffee shop, PJ's is a great place to study as it has a cozy atmosphere that is not usually loud. 
          The <b>cost</b> is usually around $5-$10 for a drink, and arguably one of the better coffee shops in Ruston. The 
          ladies who work there are always extremely friendly and welcoming, and the atmosphere is always calm. There are plenty of tables and chairs 
          to sit, and there are multiple charging ports on each wall. You should not usually have a problem finding a seat, 
          but it can get busy at times around 8am and 4-5pm. 

          <br><br>
          📍1736 Farmerville Hwy, Ruston, LA 71270
      </ul>

      <h2>🖼️ Gallery: </h2>
    <div class="image-row">
      <img src="../static/images/pjs.jpg" alt="Legacy Park Apartments" class="apt-img", style="height: 540px;">
      <img src="../static/images/pjs2.jpg" alt="Legacy Park Apartments" class="apt-img", style="height: 540px;">

    </div>
  </article>
    <script>
        const toggleBtn = document.getElementById("toggleSidebar");
        const sidebar = document.querySelector(".sidebar");
        
        toggleBtn.addEventListener("click", () => {
          sidebar.classList.toggle("expanded");
        });
    </script>
</body>
</html>