<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advising Resources</title>
    <link rel = "stylesheet" href = "../static/resources/advising.css">
</head>
<body>
    <div class="sidebar">
        <button id="toggleSidebar" class="toggle-btn">☰</button>
        <a href = "{{url_for('dashboard')}}">Dashboard</a>
          <a href="{{url_for('chats')}}">Chats</a>
          <a href="{{url_for('resources')}}">Resources</a>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <a href="{{url_for('logout')}}">Log Out</a>
    </div>
    <div class="wrapper">
        <header class="main-head">A How-To: Advise and Register for Classes</header>
        <article class="content">
          <p>
            Advising can registering for classes can be stressful, especially for incoming students. 
            Here you will find only the necessary information that you should be aware of.
            You will be taken through each step necessary in registering and advising for classes each quarter.
          </p>
        </article>
        <article class="content2">
            <h1 style = "font-size:20px;">STEP 1: CREATE SCHEDULE AND COMPLETE HOLDS</h1>
            <br>
            <p>
                <ol id = "list"><b><li>Check for account holds</li></b>
                <br><ul><li>Navigate to academics on workday, then make sure there is a 0 for both
                    holds and actions to do. <i><b>(There should be only one hold left that only your advisor can remove,
                    it will be removed after you meet with them)</b></i></li></ul>
                <br>
                <li><b>Create a schedule plan</li></b>
                <br><ul><li>Find your major's curriculum sheet to determine which classes you need to take.
                    Find information about your major's curriculum at <a href = "https://www.latech.edu/academic-programs/" target="_blank" style="color: rgb(112, 102, 255);">this link.</a>
                </li>
                <br><li>Fill out the advising form. Can be picked up in person (locations may vary, will be sent in email)
                or print it yourself at this <a href = "https://www.latech.edu/documents/2018/05/advising-form.pdf/" target ="_blank"style="color: rgb(112, 102, 255);">link.</a></li></ul>
                
                <br><li><b>Create saved schedule on Workday</li></b>
                <br><ul><li>Navigate to Workday -> Academics -> View Academic Plan -> Create Saved Schedule
                <br>
                <br>Look up course sections as you have them written on advising form. When found, verify it is correct class and scroll down till you see "Add to saved schedule"
                </li>
        
                </ol>
            </p>
        </article>
        <article class="content3">
            <h1 style = "font-size:20px;">STEP 2: MEET WITH ADVISOR TO CONFIRM SCHEDULE</h1>
            <p>
                <br>
                <br><ol id = "list"><b><li>Schedule an appointment or attend open advising hours(if offered)</li></b>
                    <br><ul><li>When you meet with your advisor, make sure to <b>bring your advising form already filled out</b></li></ul>
                    
                    <br><ul><li>Your advisor will make sure you are on the right track and have the appropriate prerequisite classes(but you should check too!)
                    </li></ul>
                    <br>
                    After you and your advisor both sign your advising form, your advisor will remove the hold on your account when they get the chance.
                    <br>
                    <br>    
                    <br><b><li>Know when registration opens!</li></b>
                    <br> If you are honors or meet certain qualifications, you may be eligible for early registration(which means a better chance at getting in a class you want😏)
                    <br>
                    <br>The dates for open registration can be found in the <a href = "https://events.latech.edu/academic-calendar/all/search/registration" target="_blank" style="color: rgb(112, 102, 255);">academic calendar</a> 
                    <br>
                    <br>    
                    Before registration, make sure your advisor has lifted your hold. If they have not within the next few days, shoot them an email.    
                </ol>
            </p>
        </article>
        <article class="content4">
            <h1 style = "font-size:20px;">STEP 3: REGISTRATION DAY </h1><br>
            <p>
                    Navigate to your Saved Schedules on Workday
                    <br>
                    <br>
                    When registration opens, there will be a "Start Registration" button underneath your saved schedule
                    <br>
                    <br>
                    Click start, confirm classes are correct, and click "register"
                    <br>
                    <br>
                    Make sure you see the "successful registration" message!
            </p>
            
        </article>
        
        <article class="content5">
            <h1 style = "font-size:20px;">STEP 4: DON'T GET PURGED!! PAY AND CONFIRM INTENT</h1>
            <p>
                <br>
                If you do not confirm intent to attend nor pay your due now balance, you will be purged!
                <br>
                <br> If you get purged, there is a second purge date in which you can re-register and pay again. 
                However, <b>you may not be able to get 
                in to the same classes if they have filled up,</b> so don't miss it! and <b>DON'T</b> miss the second purge date...
                <br>
                <br>
                Check your Due Now balance every day before the purge to make sure you don't miss a payment. Your Due Now balance should be <b>$0</b> by the purge date, or you will be purged.
                <br>
                <br>
                <ul><li><i>Workday -> Profile -> Student Financials -> Due Now Details</i></li></ul>
                <br>
                
                Every quarter, you have to confirm your intent to attend before the purge. To do that:
                <br>
                <br>
                <ul><li><i>Workday -> Profile -> Personal -> Additional Data -> Confirmation of Intent to Attend - {Quarter here}</i></li></ul>
                <br>
                <br>
                <ul><li>Check the box and <b>click save!</b></li></ul>
            </p>
        </article>

        <aside class="side"><img src="../static/images/advisinghold.png"style="width: 380px;height:200px"></aside>
        <div class = "side2"><img src = "../static/images/advisingform.png"style="width: 380px;height:200px"></a></div>
        <div class="ad"></div>
        <div class="ad2"></div>
        <div class="ad3"></div>
        <div class="ad5"><img src="../static/images/holds.png" style="width: 380px;height:200px"></div>'
        <div class = "ad6"><img src="../static/images/confirm.png"style="width: 380px;height:200px"></div>
        <div class = "ad7"><img src="../static/images/duenow.png"style="width: 380px;height:200px"></div>


      </div>
      
    <script>
        const toggleBtn = document.getElementById("toggleSidebar");
        const sidebar = document.querySelector(".sidebar");
        
        toggleBtn.addEventListener("click", () => {
          sidebar.classList.toggle("expanded");
        });
    </script>
</body>
</html>