<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <link rel = "stylesheet" href = "../static/resources/food.css">
</head>
<body>
    <div class="sidebar">
        <button id="toggleSidebar" class="toggle-btn">☰</button>
        <a href = "{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('chats')}}">Study Groups</a>
        <a href="{{url_for('calendar')}}">Calendar</a>
        <a href="{{url_for('events')}}">Events</a>
        <a href="{{url_for('organizations')}}">Organizations</a>
        <a href="{{url_for('resources')}}">Resources</a>
        <a href="{{url_for('logout')}}">Log Out</a>
    </div>
    <div class="wrapper">
        <header class="main-head">Best Food Around and On Campus</header>
        <article class="content">
          <h1>food area</h1>
          <p>
            In this layout, we display the areas in source order for any screen less
            that 500 pixels wide. We go to a two column layout, and then to a three
            column layout by redefining the grid, and the placement of items on the
            grid.
          </p>
        </article>
        <aside class="side"><img src="../static/images/PawPoint.png"></aside>
        <div class="ad"><img src="../static/images/PawPoint.png"></div>
      </div>
      <article class="content2">
        <h1></h1>
        <p>
            Bomb
        </p>
      </article>
    <script>
        const toggleBtn = document.getElementById("toggleSidebar");
        const sidebar = document.querySelector(".sidebar");
        
        toggleBtn.addEventListener("click", () => {
          sidebar.classList.toggle("expanded");
        });
    </script>
</body>
</html>