<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Chats</title>
  </head>
  <body>
    <div class="sidebar">
      <button id="toggleSidebar" class="toggle-btn">☰</button>
      <a href = "{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('chats')}}">Chats</a>
        <a href="{{url_for('resources')}}">Resources</a>
        <div style="flex-grow: 1;"></div>
        <a href="{{url_for('logout')}}">Log Out</a>
  </div>
    <div class="chat-container">
      <header class="chat-header">
        <h1>Welcome, {{ username }}!</h1>
        <a id="leave-btn" class="btn" href="{{ url_for('chats') }}">Leave Room</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-comments"></i> Room Name:</h3>
          <h2 id="room-name">{{ room }}</h2>
          <h3><i class="fas fa-users"></i> Users</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-messages"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="script.js"></script>
  <script>
    const toggleBtn = document.getElementById("toggleSidebar");
    const sidebar = document.querySelector(".sidebar");
    
    toggleBtn.addEventListener("click", () => {
      sidebar.classList.toggle("expanded");
    });
</script>
  </body>
</html>
