<!-- homepage html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/landing.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Welcome</title>
</head>
<body>
    <section>
        <div class = "wave wave1"></div>
        <div class = "wave wave2"></div>
        <div class = "wave wave3"></div>
        <div class = "wave wave4"></div>
        <div class = "wrapper">        
            <form method = "POST" action="">       
                <h1>Welcome to PawPoint!</h1>
                    <div class = "btn login">
                        <a href="{{url_for('login')}}">Sign in</a>
                    </div>
            </form>
        </div>
    </section>
</body>
</html>