<!-- login html -->


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "../static/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section>
        <div class = "wave wave1"></div>
        <div class = "wave wave2"></div>
        <div class = "wave wave3"></div>
        <div class = "wave wave4"></div>
        
        <div class = "wrapper">        
            <form method = "POST" action="">
                {{form.hidden_tag()}}
                <h1>Login</h1>
                <div class = "input-box">
                    {{form.username(placeholder = "Username")}}
                    <i class='bx bxs-user'></i>
                </div>
                <div class = "input-box">
                    {{form.password(placeholder="Password")}}
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class = "remember-forgot">
                    {{form.remember_me}}{{form.remember_me.label("Remember me")}}
                    <a href = "forgot">Forgot password?</a>
                </div>
                <div class = "btn">
                    {{form.submit(class="btn")}}
                </div>
                <div class = "register-link">
                    <p>Don't have an account?
                        <a href = "{{url_for('register')}}">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
</body>
</html>

