<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/resources/general.css">
    <title>Off Campus</title>
</head>
<body>
  <div class="sidebar">
    <button id="toggleSidebar" class="toggle-btn">☰</button>
    <a href = "{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('chats')}}">Chats</a>
    <a href="{{url_for('resources')}}">Resources</a>
    <a href="{{url_for('calendar')}}">Calendar</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="{{ url_for('connect')}}">Connect</a>
    <a href="{{url_for('logout')}}">Log Out</a>

  </div>
  <div class="wrapper">
    <header class="main-head">Off-Campus living</header>
    <article class="content">
        <p>Moving off campus is something most students prefer to do after their freshman year, as off-campus living offers more freedoms and independence.
          However, while searching, it may be hard to find a place that is affordable, close to campus, and has the amenities you need.
          Here you will find a list of the best off-campus apartments that are close to campus and are catered to us students. While apartments
        may seem expernsive, keep in mind that when you live on campus you have to buy a meal plan which is at least $1,585.</p>
        </p>
        <h2>✨The Preserve at Tech</h2>
        <ul>
            <li>A mile from campus</li>
            <li>24-hour amenities</li>
            <li>Gym, pool, computer lab, clubhouse lounge, mailing</li>
            <li>Free parking</li>
            <li>3-bedroom and 4-bedroom apartments</li>
            <li>Gated</li>
            <li>Wifi and wired internet</li>
            <li>Pet friendly</li>
            <li>In-unit washer and dryer</li>
            <li>Hosts events for residents often</li>

        </ul>
        <h2>💰 Cost </h2>
        <ul>
            <li>Offer 10-month, 12-month, and summer leases</li>
            <li>Private 3-bedroom apartment: Around $700-800 a month</li>
            <li>Private 4-bedroom apartmment: Around $650-730 a month</li>
        </ul>
        <h2>📍 Location:</h2>
        <p>1913 W Alabama Ave, Ruston, LA 71270</p>
        <a href = "https://preserveattech.com/" target="_blank" style="color: rgb(112, 102, 255);">The Preserve at Tech</a>

        <h2>🖼️ Gallery: </h2>
    <div class="image-row">
        <img src="../static/images/preserve.jpg" alt="Legacy Park Apartments" class="apt-img">
        <img src="../static/images/kitchen.jpg" alt="Legacy Park Apartments" class="apt-img">
        <img src="../static/images/amenities.jpg" alt="Legacy Park Apartments" class="apt-img">
        <img src="../static/images/apartments.jpg" alt="Legacy Park Apartments" class="apt-img">
    </div>
    <h2>✨Ivy Row at LA Tech</h2>
        <ul>
            <li>24-hour gym, pool, computer lab, game room, clubhouse lounge,</li>
            <li>Free parking</li>
            <li>3-bedroom and 4-bedroom apartments</li>
            <li>Gated</li>
            <li>Rent includes WIFI, water, trash, and sewage</li>
            <li>In-unit washer and dryer</li>
            <li>Pet friendly</li>

        </ul>
        <h2>💰 Cost </h2>
        <ul>
            <li>Offers one 10 month lease (Aug-Jul)</li>
            <li>Private 3x3 apartment: Around $800 a month</li>
            <li>Private 4x4 townhouse: Around $700-800 a month</li>
        </ul>
        <h2>📍 Location:</h2>
        <p>1913 W Alabama Ave, Ruston, LA 71270</p>
        <a href = "https://www.ivyrowatlatech.com/" target="_blank" style="color: rgb(112, 102, 255);">Ivy Row at LA Tech</a>
        <h2>🖼️ Gallery: </h2>
    <div class="image-row">
        <img src="../static/images/3x3.jpg" alt="Legacy Park Apartments" class="apt-img"style="height: 350px;">
        <img src="../static/images/4x4.jpg" alt="Legacy Park Apartments" class="apt-img"style="height: 350px;">
        <img src="../static/images/4x4f.jpg" alt="Legacy Park Apartments" class="apt-img" >
        <img src="../static/images/br.jpg" alt="Legacy Park Apartments" class="apt-img"style="height: 350px;">
    </div>
</article>
    <script>
        const toggleBtn = document.getElementById("toggleSidebar");
        const sidebar = document.querySelector(".sidebar");
        
        toggleBtn.addEventListener("click", () => {
          sidebar.classList.toggle("expanded");
        });
    </script>
</body>
</html>