<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Spots in Ruston</title>
    <link rel = "stylesheet" href = "../static/resources/spots.css">
</head>
<body>
    <div class="sidebar">
        <button id="toggleSidebar" class="toggle-btn">☰</button>
        <a href = "{{url_for('dashboard')}}">Dashboard</a>
          <a href="{{url_for('chats')}}">Chats</a>
          <a href="{{url_for('resources')}}">Resources</a>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <a href="{{url_for('logout')}}">Log Out</a>
    </div>
    <div class="wrapper">
        <header class="main-head">Best Spots in Ruston</header>
        <article class="content">
          <h1></h1>
          <p>
            Do you need a place to study? A place to go to escape your dorm or apartment? 
          </p>
        </article>
        <article class="content2">
            <h1></h1>
            <p>
                Bomb
            </p>
          </article>
        <aside class="side"><img src="../static/images/PawPoint.png"></aside>
        <div class="ad"><img src="../static/images/PawPoint.png"></div>
      </div>
    <script>
        const toggleBtn = document.getElementById("toggleSidebar");
        const sidebar = document.querySelector(".sidebar");
        
        toggleBtn.addEventListener("click", () => {
          sidebar.classList.toggle("expanded");
        });
    </script>
</body>
</html>