* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

  }

  body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ffffff 0%, #a8b4ef 100%);    
    color: #3a3a3a;
    display: flex;
    min-height: 100vh;
  }

/* SIDEBAR */
  .sidebar {
    width: 60px;
    background-color: #647fe1;
    color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: width 0.3s ease;
    overflow: hidden;
  }

  .toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-start;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.2s ease;
    opacity: 0;
    font-size:0;
  }
  .sidebar.expanded{
    width: 120px
  }

  .sidebar.expanded a{
    opacity: 1;
    font-size: 1rem;
    
  }
  .sidebar a:hover {
    background-color: #506bd4;
    padding: 8px;
    border-radius: 8px;
    transition: 0.2s;
  }
