/* for homepage design */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
}

/*animate wave background*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: hsl(227, 76%, 43%);
    overflow: hidden;
}

section .wave{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100px;
    background: url("../static/wave.png");
    background-size: 1000px 100px;

}
section .wave.wave1{
    animation: animate 20s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2{
    animation: animate 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation: animate2 150s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
section .wave.wave4{
    animation: animate2 100s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
/*for main background*/
 body {
    display: flex;
    min-height: 100vh;
} 
/*wrap everything*/
.wrapper {
    width: 420px;
    margin: auto;
    margin-top: 180px;
    justify-content: center;
    background: transparent;
    color: whitesmoke;
    border-radius: 10px;
    padding: 30px 40px;
}
/*login header*/
.wrapper h1 {
    font-size: 36px;
    width: 114%;
    text-align: center;
}
/* place both buttons next to each other and other design */
.wrapper .btn{
    width: 110%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    justify-content: center;
    align-items: center;
    display: inline-block
    
}
/* adjust create account button */
.wrapper .btn.reg{
    width: 50%;
    margin-left: 50px;
    margin-top:30px;
}

.wrapper .btn a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 23px;
    font-family: 'proxima-nova', sans-serif;
}

.wrapper .btn a:hover{
    color:plum
}