* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: block;
  background-color: #d0d6ea;
  background: linear-gradient(135deg, #f2f0ff, #e3e4fa);
  margin: 0;
  padding: 20px;
  color: #333;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #6f82e4;
}

.category {
  border-left: 6px solid #7070db;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 0 auto 20px auto;
  max-width: 700px;
  overflow: hidden;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
}

.category input {
  display: none;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #fdfcfa;
}

.label:hover {
  background-color: #f2eef1;
}

.label ion-icon {
  transition: transform 0.3s ease;
}

input:checked + .label ion-icon {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.4s ease, padding 0.4s ease;
}
.wrapper{
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

input:checked ~ .content {
  max-height: 700px;
  padding: 20px 24px;
}

.club-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.club-list li {
  margin-bottom: 2px;
}

.club-list a {
  text-decoration: none;
  color: #737ee9;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.club-list a:hover {
  color: #5a6cde;
  background-color: #f7efff;
  padding-left: 8px;
  border-radius: 6px;
}
/* SIDEBAR */
.sidebar {
  width: 60px;
  background-color: #647fe1;
  color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: width 0.3s ease;
  overflow: hidden;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: flex-start;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.2s ease;
  opacity: 0;
  font-size:0;
}
.sidebar.expanded{
  width: 120px
}

.sidebar.expanded a{
  opacity: 1;
  font-size: 1rem;
}
.sidebar a:hover {
  background-color: #506bd4;
  padding: 8px;
  border-radius: 8px;
  transition: 0.2s;
}