* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ffffff 0%, #a8b4ef 100%);
  color: #3a3a3a;
  display: flex;
  font-size: 14px;  
  min-height: 100vh;

} 
/* SIDEBAR */
.sidebar {
  width: 60px;
  background-color: #647fe1;
  color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: flex-start;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.2s ease;
  opacity: 0;
  font-size:0;
}
.sidebar.expanded{
  width: 120px
}

.sidebar.expanded a{
  opacity: 1;
  font-size: 1rem;
}
.sidebar a:hover {
  background-color: #506bd4;
  padding: 8px;
  border-radius: 8px;
  transition: 0.2s;
}
.wrapper {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  width: 1000px;
}

.wrapper > * {
  border: 2px solid #a9a5f6;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}


.main-head {
  grid-area: header;
  margin-top: 30px;
  font-size: 50px;
  text-align: center;
}
.content {
  grid-area: content;
  height: 100px;
  font-size: 17px;
  text-align: center;
  
}

.content2 {
  grid-area: content2;
  height: 480px;
  width:600px;

}
.content2 #list{
  text-indent: 2px;
}
.content2 ol {
  padding-left: 28px;
}
.content3{
  grid-area: content3;
  height: 480px;
  width:600px;
}
.content3 #list{
  text-indent: 2px;
}
.content3 ol {
  padding-left: 28px;
}
.content4{
  grid-area: content4;
  height: 200px;
  text-align: center;
}
.content4 ol {
  padding-left: 28px;
}
.content4 ul{
  padding-left:20px;  
}
.content5{
  grid-area: content5;
  height: 480px;
  width:600px;
}
.content5 ul {
  padding-left: 28px;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
  height: 230px;
  width: 400px;

}
.side2 {
  grid-area: side2;
  height: 230px;
  width: 400px;
}
.ad {
  grid-area: ad;
  background: url('../images/registration.png');
  background-position: center;
  background-size:330px;
  height: 230px;
  width: 400px;
}


.ad2{
  grid-area: ad2;
  background: url('../images/sched.png');
  background-size:980px;
  height:200px;
  background-position-y: -100px;
  background-position-x: 28px;


}
.ad3{
  grid-area: ad3;
  background: url(../images/button.jpg);
  height:200px;
  background-position-y: -20px;

}
.ad4{
  grid-area: ad4;

}
.ad5{
  grid-area: ad5;
  background-position: center;
  background-size:300px;
}

.ad6{
  grid-area: ad6;
  height: 230px;
  width: 400px;
}
.ad7{
  grid-area: ad7;
  height: 230px;
  width: 400px;
}

.main-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "side2"
    "ad"
    "ad2"
    "ad3"
    "ad4"
    "ad5"
    "ad6"
    "ad7"
    "content2"
    "content3"
    "content4"
    "content5"
}



@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header header"
      "content content content"
      "content2 content2 sidebar"
      "content2 content2 side2"
      "content3 content3 ad"
      "content3 content3 ad5"
      "content4 content4 content4" 
      "ad2 ad2 ad3"
      "content5 content5 ad6"
      "content5 content5 ad7";
  
  }
}
